In [12]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

## TRAIN DATA

In [13]:
movies_train_df = pd.read_csv(Path('movie_data_frame12.csv'))
movies_train_df

,movie_id,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name
0,1,The Shining,R,1980-06-13,146.0,0.0,8.4,46998772.0,Stanley Kubrick,Stephen King,Jack Nicholson,Drama
1,2,The Blue Lagoon,R,1980-07-02,104.0,0.0,5.8,58853106.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,Adventure
2,3,Star Wars: Episode V - The Empire Strikes Back,PG,1980-06-20,124.0,0.0,8.7,538375067.0,Irvin Kershner,Leigh Brackett,Mark Hamill,Action
3,4,Airplane!,PG,1980-07-02,88.0,0.0,7.7,83453539.0,Jim Abrahams,Jim Abrahams,Robert Hays,Comedy
4,5,Caddyshack,R,1980-07-25,98.0,0.0,7.3,39846344.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...
7925,7926,The Beatles: Get Back - The Rooftop Concert,PG-13,2022-01-30,65.0,0.0,0.0,793669.0,Peter Jackson,0,The Beatles,Music
7926,7927,The Tiger Rising,PG,2022-02-03,102.0,33.0,5.8,0.0,Ray Giarratana,Ray Giarratana,Queen Latifah,Family
7927,7928,Bone Clean,NaN,1900-01-01,0.0,0.0,0.0,0.0,Katy Maudlin,Morgan Rose,Keegan Joyce,Short
7928,7929,Sparks - The Ken Sparks Story,NaN,2022-01-07,88.0,0.0,0.0,0.0,Jeff Joslin,Ciera Danielle,Jeff Joslin,Biography
7929,7930,Found Wandering Lost,NaN,2022-01-25,99.0,0.0,5.8,0.0,Nicholaus James,Nicholaus James,Jessi Burkette,Drama

In [14]:
movies_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7930 entries, 0 to 7929
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      7930 non-null   int64
 1   title         7930 non-null   object
 2   movie_rating  7772 non-null   object
 3   release_date  7930 non-null   object
 4   run_time      7930 non-null   float64
 5   meta_score    7930 non-null   float64
 6   imdb_rating   7930 non-null   float64
 7   box_office    7930 non-null   float64
 8   director      7930 non-null   object
 9   writer        7930 non-null   object
 10  actor         7930 non-null   object
 11  genre_name    7763 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 743.6+ KB

In [15]:
movies_train_df['box_office'] = movies_train_df['box_office'].astype(str)

In [16]:
movies_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7930 entries, 0 to 7929
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      7930 non-null   int64
 1   title         7930 non-null   object
 2   movie_rating  7772 non-null   object
 3   release_date  7930 non-null   object
 4   run_time      7930 non-null   float64
 5   meta_score    7930 non-null   float64
 6   imdb_rating   7930 non-null   float64
 7   box_office    7930 non-null   object
 8   director      7930 non-null   object
 9   writer        7930 non-null   object
 10  actor         7930 non-null   object
 11  genre_name    7763 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 743.6+ KB

In [17]:
movies_train_df['label_boxoffice']=''
for index,row in movies_train_df.iterrows():
    if (row['box_office']<='100000'):
        movies_train_df.loc[index,'label_boxoffice']=0
    elif (row['box_office']>'100000') & (row['box_office']<='500000'):
        movies_train_df.loc[index, 'label_boxoffice']=1
    elif (row['box_office']>'500000') & (row['box_office']<='1000000'):
        movies_train_df.loc[index, 'label_boxoffice']=2
    elif (row['box_office']>'1000000') & (row['box_office']<='3000000'):
        movies_train_df.loc[index, 'label_boxoffice']=3
    elif (row['box_office']>'3000000') & (row['box_office']<='5000000'):
        movies_train_df.loc[index, 'label_boxoffice']=4  
    elif (row['box_office']>'5000000') & (row['box_office']<='8500000'):
        movies_train_df.loc[index, 'label_boxoffice']=5
    elif (row['box_office']>'8000000') & (row['box_office']<='10000000'):
        movies_train_df.loc[index, 'label_boxoffice']=6
    elif (row['box_office']>'10000000') & (row['box_office']<='30000000'):
        movies_train_df.loc[index, 'label_boxoffice']=7
    elif (row['box_office']>'30000000') & (row['box_office']<='50000000'):
        movies_train_df.loc[index, 'label_boxoffice']=8
    elif (row['box_office']>'50000000') & (row['box_office']<='80000000'):
        movies_train_df.loc[index, 'label_boxoffice']=9
    elif (row['box_office']>'80000000') & (row['box_office']<='100000000'):
        movies_train_df.loc[index, 'label_boxoffice']=10
    elif (row['box_office']>'100000000') & (row['box_office']<='300000000'):
        movies_train_df.loc[index, 'label_boxoffice']=11
    elif (row['box_office']>'300000000') & (row['box_office']<='500000000'):
        movies_train_df.loc[index, 'label_boxoffice']=12      
    elif (row['box_office']>'500000000') & (row['box_office']<='800000000'):
        movies_train_df.loc[index, 'label_boxoffice']=13 
    elif (row['box_office']>'80000000') & (row['box_office']<='1000000000'):
        movies_train_df.loc[index, 'label_boxoffice']=14    
    elif (row['box_office']>'1000000000') & (row['box_office']<='1500000000'):
        movies_train_df.loc[index, 'label_boxoffice']=15     
    elif (row['box_office']>'1500000000') & (row['box_office']<='2000000000'):
        movies_train_df.loc[index, 'label_boxoffice']=16
    elif (row['box_office']>'2000000000') & (row['box_office']<='2500000000'):
        movies_train_df.loc[index, 'label_boxoffice']=17   
    elif (row['box_office']>'2500000000'):
         movies_train_df.loc[index, 'label_boxoffice']=16
    else:
        movies_train_df.loc[index, 'label_boxoffice']=0
        
#labels_6 =["0-100,000","100,000-500,000","500,000-1,000,000","1,000,000-5,000,000",
 #          "5,000,000,000-1,000,000,000","1,000,000,000-5,000,000,000"]
    
#labels_4 = ["0-100,000","100,00-500,000", "500,000-1,000,000","1,000,000-1,500,000","1,500,000-2,000,000",
#"2,000,000-2,500,000","2,500,00-3,000,000","3,000,000-3,500,000","3,500,000-4,000,000",
# "4,000,000-4,500,000","4,500,000-5,000,000","5,000,000-5,500,000","6,000,000-6,500,000",
#"6,500,000-7,000,000","7,000,000-7,500,000",
# "7,500,000-8,000,000","8,000,000-8,500,000","8,500,000-9,000,000","9,500,000-10,000,000",
#"10,000,000-10,500,000","10,500,000-20,000,000","20,000,000-20,500,000",
#"20,500,000-30,000,000","30,000,000-30,500,000","30,500,000-40,000,000",
#"40,000,000-40,500,000","40,500,000-50,000,000","50,000,000-50,500,000","50,500,000-60,000,000",
#"60,000,000-60,500,000","60,500,000-70,000,000","70,000,000-70,500,000", "70,500,000-80,000,000",
#"80,000,000-80,500,000","80,500,000-90,000,000","90,000,000-9,500,000",
#"9,500,000-100,000,000","100,000,000-100,500,000","100,500,000-200,000,000","200,000,000-200,500,000",
#"200,500,000-300,000,000","300,000,000-300,500,000",
#"300,500,000-400,000,000","400,000,000-400,500,000","400,500,000-500,000,000",
#"500,000,000-500,500,000","500,500,000-600,000,000","600,000,000-600,500,000",
#"600,500,000-700,000,000","700,000,000-700,500,000","700,500,000-800,000,000",
#"800,000,000-800,500,000","800,500,000-900,000,000","900,000,000-900,500,000",
#"900,500,000-1,000,000,000","1,000,000,000-1,500,000,000","1,500,000,000-2,000,000,000",
#"2,000,000,000-2,500,000,000","2,500,000,000-3,000,000,000"]

In [18]:
movies_train_df['label_boxoffice'].value_counts()

1    5534
5    1640
6     515
0     240
4       1
Name: label_boxoffice, dtype: int64

In [19]:
# movies_train_df['score'] = movies_train_df['score'].replace(np.nan, 0)

In [20]:
movies_train_df['label_boxoffice'].value_counts()

1    5534
5    1640
6     515
0     240
4       1
Name: label_boxoffice, dtype: int64

In [21]:
#movies_train_df = movies_train_df.drop('budget', axis = 1)

In [22]:
movies_train_df = movies_train_df.dropna(axis = 0, how='any')
movies_train_df

,movie_id,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name,label_boxoffice
0,1,The Shining,R,1980-06-13,146.0,0.0,8.4,46998772.0,Stanley Kubrick,Stephen King,Jack Nicholson,Drama,1
1,2,The Blue Lagoon,R,1980-07-02,104.0,0.0,5.8,58853106.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,Adventure,5
2,3,Star Wars: Episode V - The Empire Strikes Back,PG,1980-06-20,124.0,0.0,8.7,538375067.0,Irvin Kershner,Leigh Brackett,Mark Hamill,Action,5
3,4,Airplane!,PG,1980-07-02,88.0,0.0,7.7,83453539.0,Jim Abrahams,Jim Abrahams,Robert Hays,Comedy,5
4,5,Caddyshack,R,1980-07-25,98.0,0.0,7.3,39846344.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,Comedy,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7922,7923,Redeeming Love,PG-13,2022-01-21,134.0,32.0,6.9,0.0,D.J. Caruso,Francine Rivers,Tom Lewis,Drama,0
7923,7924,Blacklight,PG-13,2022-02-11,108.0,0.0,0.0,1471504.0,Mark Williams,Nick May,Taylor John Smith,Action,1
7924,7925,The King's Daughter,PG,2022-01-21,90.0,30.0,5.1,391252.0,Sean McNamara,Vonda N. McIntyre,William Hurt,Action,1
7925,7926,The Beatles: Get Back - The Rooftop Concert,PG-13,2022-01-30,65.0,0.0,0.0,793669.0,Peter Jackson,0,The Beatles,Music,5
7926,7927,The Tiger Rising,PG,2022-02-03,102.0,33.0,5.8,0.0,Ray Giarratana,Ray Giarratana,Queen Latifah,Family,0

In [23]:
movies_train_df[['Year','Month','Date']] = movies_train_df['release_date'].str.split('-', expand=True)
movies_train_df

/Users/rebeccamelo/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,movie_id,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name,label_boxoffice,Year,Month,Date
0,1,The Shining,R,1980-06-13,146.0,0.0,8.4,46998772.0,Stanley Kubrick,Stephen King,Jack Nicholson,Drama,1,1980,06,13
1,2,The Blue Lagoon,R,1980-07-02,104.0,0.0,5.8,58853106.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,Adventure,5,1980,07,02
2,3,Star Wars: Episode V - The Empire Strikes Back,PG,1980-06-20,124.0,0.0,8.7,538375067.0,Irvin Kershner,Leigh Brackett,Mark Hamill,Action,5,1980,06,20
3,4,Airplane!,PG,1980-07-02,88.0,0.0,7.7,83453539.0,Jim Abrahams,Jim Abrahams,Robert Hays,Comedy,5,1980,07,02
4,5,Caddyshack,R,1980-07-25,98.0,0.0,7.3,39846344.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,Comedy,1,1980,07,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7922,7923,Redeeming Love,PG-13,2022-01-21,134.0,32.0,6.9,0.0,D.J. Caruso,Francine Rivers,Tom Lewis,Drama,0,2022,01,21
7923,7924,Blacklight,PG-13,2022-02-11,108.0,0.0,0.0,1471504.0,Mark Williams,Nick May,Taylor John Smith,Action,1,2022,02,11
7924,7925,The King's Daughter,PG,2022-01-21,90.0,30.0,5.1,391252.0,Sean McNamara,Vonda N. McIntyre,William Hurt,Action,1,2022,01,21
7925,7926,The Beatles: Get Back - The Rooftop Concert,PG-13,2022-01-30,65.0,0.0,0.0,793669.0,Peter Jackson,0,The Beatles,Music,5,2022,01,30
7926,7927,The Tiger Rising,PG,2022-02-03,102.0,33.0,5.8,0.0,Ray Giarratana,Ray Giarratana,Queen Latifah,Family,0,2022,02,03

In [24]:
movies_train_df2 = movies_train_df.drop(['release_date','Month','Date'], axis = 1)

In [25]:
y = movies_train_df2['label_boxoffice'].astype('int')
X = movies_train_df2.drop(['label_boxoffice', 'box_office'], axis = 1)

In [26]:
y.value_counts()

1    5343
5    1581
6     495
0     189
Name: label_boxoffice, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
transformed = lb_make.fit_transform(X['movie_rating'])
X['movie_rating'] = transformed

#transformed = lb_make.fit_transform(X['release_date'])
#X['release_date'] = transformed

transformed = lb_make.fit_transform(X['title'])
X['title'] = transformed

transformed = lb_make.fit_transform(X['director'])
X['director'] = transformed

transformed = lb_make.fit_transform(X['writer'])
X['writer'] = transformed

transformed = lb_make.fit_transform(X['actor'])
X['actor'] = transformed

transformed = lb_make.fit_transform(X['genre_name'])
X['genre_name'] = transformed

X

,movie_id,title,movie_rating,run_time,meta_score,imdb_rating,director,writer,actor,genre_name,Year
0,1,6669,6,146.0,0.0,8.4,2595,4003,1020,7,1980
1,2,5632,6,104.0,0.0,5.8,2276,1612,310,1,1980
2,3,5196,4,124.0,0.0,8.7,1103,2541,1725,0,1980
3,4,289,4,88.0,0.0,7.7,1296,1977,2233,4,1980
4,5,1036,6,98.0,0.0,7.3,1049,512,392,4,1980
...,...,...,...,...,...,...,...,...,...,...,...
7922,7923,4541,5,134.0,32.0,6.9,536,1341,2650,7,2022
7923,7924,808,5,108.0,0.0,0.0,1823,3147,2566,0,2022
7924,7925,6193,4,90.0,30.0,5.1,2533,4379,2781,0,2022
7925,7926,5585,5,65.0,0.0,0.0,2198,1,2593,12,2022
7926,7927,6769,4,102.0,33.0,5.8,2280,3477,2134,8,2022

In [28]:
y

0       1
1       5
2       5
3       5
4       1
       ..
7922    0
7923    1
7924    1
7925    5
7926    0
Name: label_boxoffice, Length: 7608, dtype: int64

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [30]:
y_train

1044    1
4985    1
5253    5
6501    5
3492    1
       ..
5331    6
5497    6
870     1
7922    0
7465    6
Name: label_boxoffice, Length: 5706, dtype: int64

In [31]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled

array([[-1.27044379,  1.13804229,  0.65677153, ..., -0.36046003,
         0.0457036 , -1.21073011],
       [ 0.48075151, -0.92679556, -1.0062142 , ...,  0.8179705 ,
        -0.94965807,  0.4375827 ],
       [ 0.59983813, -0.45857113, -0.17472134, ..., -0.57472012,
        -1.28144529,  0.61108932],
       ...,
       [-1.34776122, -0.60993482,  0.65677153, ..., -1.14689197,
         1.04106527, -1.29748342],
       [ 1.78581637,  0.33608827, -0.17472134, ...,  1.5155332 ,
         1.04106527,  1.8256356 ],
       [ 1.58274704,  1.07284648,  0.65677153, ...,  1.00057854,
        -0.28608362,  1.56537568]])

In [32]:
classifier = LogisticRegression()
classifier

LogisticRegression()

In [33]:
y_train

1044    1
4985    1
5253    5
6501    5
3492    1
       ..
5331    6
5497    6
870     1
7922    0
7465    6
Name: label_boxoffice, Length: 5706, dtype: int64

In [34]:
classifier.fit(X_train, y_train)

/Users/rebeccamelo/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
y_predict = classifier.predict(X_test)

In [36]:
y_predict

array([1, 1, 1, ..., 1, 1, 1])

In [37]:
print(y_test - y_predict)

2677    0
2252    0
5818    0
135     0
3220    0
       ..
6346    0
3082    0
5311    4
391     0
4940    0
Name: label_boxoffice, Length: 1902, dtype: int64

In [38]:
classifier.score(X_train, y_train)

0.6976866456361724

In [39]:
classifier.score(X_test, y_test)

0.7160883280757098

In [40]:
classifier.score(X_test, y_predict)

1.0

In [41]:
y_pred = pd.DataFrame(classifier.predict(X_test), index=X_test.index, columns=['Predictions_BoxOffice'])
y_pred_df = y_pred.merge(y_test, how='outer', left_index=True, right_index=True)
y_pred_df

      Predictions_BoxOffice  label_boxoffice
2677                      1                1
2252                      1                1
5818                      1                1
135                       1                1
3220                      1                1
...                     ...              ...
6346                      1                1
3082                      1                1
5311                      1                5
391                       1                1
4940                      1                1

[1902 rows x 2 columns]

In [42]:
y_pred_df5 = X.merge(y_pred_df,left_index=True, right_index=True)
#y_pred_df4 = y_pred_df3.drop(['movie_id'], axis=1)
y_pred_df5

,movie_id,title,movie_rating,run_time,meta_score,imdb_rating,director,writer,actor,genre_name,Year,Predictions_BoxOffice,label_boxoffice
0,1,6669,6,146.0,0.0,8.4,2595,4003,1020,7,1980,1,1
8,9,5337,4,127.0,0.0,6.8,2313,1956,852,0,1981,1,1
14,15,1705,6,104.0,0.0,7.1,318,511,1829,5,1980,1,1
15,16,5073,4,103.0,0.0,7.2,1239,3536,445,7,1980,1,6
17,18,91,4,109.0,0.0,6.9,511,3241,1082,4,1980,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7880,7881,7343,11,97.0,48.0,4.5,2531,2852,2738,11,2021,1,0
7915,7916,7159,5,116.0,42.0,6.9,2454,3451,2646,0,2022,1,0
7919,7920,3739,5,130.0,41.0,5.3,2435,3965,2056,0,2022,1,1
7920,7921,3525,5,112.0,50.0,6.2,1563,4132,2031,4,2022,1,1
7926,7927,6769,4,102.0,33.0,5.8,2280,3477,2134,8,2022,1,0

In [43]:
# save csv
y_pred_df5.to_csv("predictions_boxoffice.csv", index=False)

## TEST DATA START

In [161]:
movies_test_df = movies_test_df = pd.read_csv(Path('dummy_data_frame_upcoming.csv'))
movies_test_df

,movie_id,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name
0,0,The Batman,PG-13,2022-03-04,175,0.0,0.0,0.0,Matt Reeves,Peter Craig,ZoÃ« Kravitz,NaN
1,1,A Day to Die,0,1970-01-01,0,0.0,0.0,0.0,Wes Miller,Scott Mallace,Kevin Dillon,Action
2,2,He Was Asking for It: A Noir Film,0,2022-04-30,0,0.0,0.0,0.0,Rocky Karlage,Staci Layne Wilson,Rocky Karlage,Action
3,3,Tyson's Run,PG,2022-03-11,103,0.0,0.0,0.0,Kim Bass,Kim Bass,Major Dodson,Action
4,4,X,R,2022-03-18,0,0.0,0.0,0.0,Ti West,Ti West,Mia Goth,Action
...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Aquaman and the Lost Kingdom,0,2022-12-16,0,0.0,0.0,0.0,James Wan,Paul Norris,Temuera Morrison,Comedy
79,79,Untitled Illumination Entertainment Project,0,2022-12-21,0,0.0,0.0,0.0,Michael Jelenic,Shigeru Miyamoto,Seth Rogen,Drama
80,80,I Wanna Dance with Somebody,0,2022-12-23,0,0.0,0.0,0.0,Kasi Lemmons,Anthony McCarten,Tamara Tunie,Drama
81,81,A Man Called Otto,0,1970-01-01,0,0.0,0.0,0.0,Marc Forster,Fredrik Backman,Tom Hanks,Crime
82,82,Babylon,0,2023-01-06,0,0.0,0.0,0.0,Damien Chazelle,Damien Chazelle,Olivia Wilde,Adventure

In [162]:
movies_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      83 non-null     int64
 1   title         83 non-null     object
 2   movie_rating  83 non-null     object
 3   release_date  83 non-null     object
 4   run_time      83 non-null     int64
 5   meta_score    83 non-null     float64
 6   imdb_rating   83 non-null     float64
 7   box_office    83 non-null     float64
 8   director      83 non-null     object
 9   writer        83 non-null     object
 10  actor         83 non-null     object
 11  genre_name    82 non-null     object
dtypes: float64(3), int64(2), object(7)
memory usage: 7.9+ KB

In [163]:
movies_test_df['box_office'] = movies_test_df['box_office'].astype(str)

In [164]:
movies_test_df['label_boxoffice']=''
for index,row in movies_test_df.iterrows():
    if (row['box_office']<='100000'):
        movies_test_df.loc[index,'label_boxoffice']=0
    elif (row['box_office']>'100000') & (row['box_office']<='500000'):
        movies_test_df.loc[index, 'label_boxoffice']=1
    elif (row['box_office']>'500000') & (row['box_office']<='1000000'):
        movies_test_df.loc[index, 'label_boxoffice']=2
    elif (row['box_office']>'1000000') & (row['box_office']<='3000000'):
        movies_test_df.loc[index, 'label_boxoffice']=3
    elif (row['box_office']>'3000000') & (row['box_office']<='5000000'):
        movies_test_df.loc[index, 'label_boxoffice']=4  
    elif (row['box_office']>'5000000') & (row['box_office']<='8500000'):
        movies_test_df.loc[index, 'label_boxoffice']=5
    elif (row['box_office']>'8000000') & (row['box_office']<='10000000'):
        movies_test_df.loc[index, 'label_boxoffice']=6
    elif (row['box_office']>'10000000') & (row['box_office']<='30000000'):
        movies_test_df.loc[index, 'label_boxoffice']=7
    elif (row['box_office']>'30000000') & (row['box_office']<='50000000'):
        movies_test_df.loc[index, 'label_boxoffice']=8
    elif (row['box_office']>'50000000') & (row['box_office']<='80000000'):
        movies_test_df.loc[index, 'label_boxoffice']=9
    elif (row['box_office']>'80000000') & (row['box_office']<='100000000'):
        movies_test_df.loc[index, 'label_boxoffice']=10
    elif (row['box_office']>'100000000') & (row['box_office']<='300000000'):
        movies_test_df.loc[index, 'label_boxoffice']=11
    elif (row['box_office']>'300000000') & (row['box_office']<='500000000'):
        movies_test_df.loc[index, 'label_boxoffice']=12      
    elif (row['box_office']>'500000000') & (row['box_office']<='800000000'):
        movies_test_df.loc[index, 'label_boxoffice']=13 
    elif (row['box_office']>'80000000') & (row['box_office']<='1000000000'):
        movies_test_df.loc[index, 'label_boxoffice']=14    
    elif (row['box_office']>'1000000000') & (row['box_office']<='1500000000'):
        movies_test_df.loc[index, 'label_boxoffice']=15     
    elif (row['box_office']>'1500000000') & (row['box_office']<='2000000000'):
        movies_test_df.loc[index, 'label_boxoffice']=16
    elif (row['box_office']>'2000000000') & (row['box_office']<='2500000000'):
        movies_test_df.loc[index, 'label_boxoffice']=17   
    elif (row['box_office']>'2500000000'):
         movies_test_df.loc[index, 'label_boxoffice']=6
    else:
        movies_test_df.loc[index, 'label_boxoffice']=0

In [165]:
movies_test_df['label_boxoffice'].value_counts()

0    83
Name: label_boxoffice, dtype: int64

In [166]:
movies_test_df2 = movies_test_df.dropna(axis = 0, how='any')
movies_test_df2

,movie_id,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name,label_boxoffice
1,1,A Day to Die,0,1970-01-01,0,0.0,0.0,0.0,Wes Miller,Scott Mallace,Kevin Dillon,Action,0
2,2,He Was Asking for It: A Noir Film,0,2022-04-30,0,0.0,0.0,0.0,Rocky Karlage,Staci Layne Wilson,Rocky Karlage,Action,0
3,3,Tyson's Run,PG,2022-03-11,103,0.0,0.0,0.0,Kim Bass,Kim Bass,Major Dodson,Action,0
4,4,X,R,2022-03-18,0,0.0,0.0,0.0,Ti West,Ti West,Mia Goth,Action,0
5,5,Operation Fortune: Ruse de guerre,0,2022-03-18,0,0.0,0.0,0.0,Guy Ritchie,Marn Davies,Josh Hartnett,Action,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Aquaman and the Lost Kingdom,0,2022-12-16,0,0.0,0.0,0.0,James Wan,Paul Norris,Temuera Morrison,Comedy,0
79,79,Untitled Illumination Entertainment Project,0,2022-12-21,0,0.0,0.0,0.0,Michael Jelenic,Shigeru Miyamoto,Seth Rogen,Drama,0
80,80,I Wanna Dance with Somebody,0,2022-12-23,0,0.0,0.0,0.0,Kasi Lemmons,Anthony McCarten,Tamara Tunie,Drama,0
81,81,A Man Called Otto,0,1970-01-01,0,0.0,0.0,0.0,Marc Forster,Fredrik Backman,Tom Hanks,Crime,0
82,82,Babylon,0,2023-01-06,0,0.0,0.0,0.0,Damien Chazelle,Damien Chazelle,Olivia Wilde,Adventure,0

In [167]:
movies_test_df2[['Year','Month','Date']] = movies_test_df2['release_date'].str.split('-', expand=True)
movies_test_df2

/Users/rebeccamelo/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,movie_id,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name,label_boxoffice,Year,Month,Date
1,1,A Day to Die,0,1970-01-01,0,0.0,0.0,0.0,Wes Miller,Scott Mallace,Kevin Dillon,Action,0,1970,01,01
2,2,He Was Asking for It: A Noir Film,0,2022-04-30,0,0.0,0.0,0.0,Rocky Karlage,Staci Layne Wilson,Rocky Karlage,Action,0,2022,04,30
3,3,Tyson's Run,PG,2022-03-11,103,0.0,0.0,0.0,Kim Bass,Kim Bass,Major Dodson,Action,0,2022,03,11
4,4,X,R,2022-03-18,0,0.0,0.0,0.0,Ti West,Ti West,Mia Goth,Action,0,2022,03,18
5,5,Operation Fortune: Ruse de guerre,0,2022-03-18,0,0.0,0.0,0.0,Guy Ritchie,Marn Davies,Josh Hartnett,Action,0,2022,03,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Aquaman and the Lost Kingdom,0,2022-12-16,0,0.0,0.0,0.0,James Wan,Paul Norris,Temuera Morrison,Comedy,0,2022,12,16
79,79,Untitled Illumination Entertainment Project,0,2022-12-21,0,0.0,0.0,0.0,Michael Jelenic,Shigeru Miyamoto,Seth Rogen,Drama,0,2022,12,21
80,80,I Wanna Dance with Somebody,0,2022-12-23,0,0.0,0.0,0.0,Kasi Lemmons,Anthony McCarten,Tamara Tunie,Drama,0,2022,12,23
81,81,A Man Called Otto,0,1970-01-01,0,0.0,0.0,0.0,Marc Forster,Fredrik Backman,Tom Hanks,Crime,0,1970,01,01
82,82,Babylon,0,2023-01-06,0,0.0,0.0,0.0,Damien Chazelle,Damien Chazelle,Olivia Wilde,Adventure,0,2023,01,06

In [168]:
movies_test_df2 = movies_test_df2.drop(['release_date','Month','Date'], axis = 1)
movies_test_df2

,movie_id,title,movie_rating,run_time,meta_score,imdb_rating,box_office,director,writer,actor,genre_name,label_boxoffice,Year
1,1,A Day to Die,0,0,0.0,0.0,0.0,Wes Miller,Scott Mallace,Kevin Dillon,Action,0,1970
2,2,He Was Asking for It: A Noir Film,0,0,0.0,0.0,0.0,Rocky Karlage,Staci Layne Wilson,Rocky Karlage,Action,0,2022
3,3,Tyson's Run,PG,103,0.0,0.0,0.0,Kim Bass,Kim Bass,Major Dodson,Action,0,2022
4,4,X,R,0,0.0,0.0,0.0,Ti West,Ti West,Mia Goth,Action,0,2022
5,5,Operation Fortune: Ruse de guerre,0,0,0.0,0.0,0.0,Guy Ritchie,Marn Davies,Josh Hartnett,Action,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Aquaman and the Lost Kingdom,0,0,0.0,0.0,0.0,James Wan,Paul Norris,Temuera Morrison,Comedy,0,2022
79,79,Untitled Illumination Entertainment Project,0,0,0.0,0.0,0.0,Michael Jelenic,Shigeru Miyamoto,Seth Rogen,Drama,0,2022
80,80,I Wanna Dance with Somebody,0,0,0.0,0.0,0.0,Kasi Lemmons,Anthony McCarten,Tamara Tunie,Drama,0,2022
81,81,A Man Called Otto,0,0,0.0,0.0,0.0,Marc Forster,Fredrik Backman,Tom Hanks,Crime,0,1970
82,82,Babylon,0,0,0.0,0.0,0.0,Damien Chazelle,Damien Chazelle,Olivia Wilde,Adventure,0,2023

In [175]:
y1 = movies_test_df2['label_boxoffice'].astype('int')
X1 = movies_test_df2.drop(['label_boxoffice', 'box_office'], axis = 1)

In [170]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 1 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      82 non-null     int64
 1   title         82 non-null     object
 2   movie_rating  82 non-null     object
 3   run_time      82 non-null     int64
 4   meta_score    82 non-null     float64
 5   imdb_rating   82 non-null     float64
 6   director      82 non-null     object
 7   writer        82 non-null     object
 8   actor         82 non-null     object
 9   genre_name    82 non-null     object
 10  Year          82 non-null     object
dtypes: float64(2), int64(2), object(7)
memory usage: 7.7+ KB

In [171]:
y1.value_counts()

0    82
Name: label_boxoffice, dtype: int64

In [172]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
transformed = lb_make.fit_transform(X1['movie_rating'])
X1['movie_rating'] = transformed

#transformed = lb_make.fit_transform(X['release_date'])
#X['release_date'] = transformed

transformed = lb_make.fit_transform(X1['title'])
X1['title'] = transformed

transformed = lb_make.fit_transform(X1['director'])
X1['director'] = transformed

transformed = lb_make.fit_transform(X1['writer'])
X1['writer'] = transformed

transformed = lb_make.fit_transform(X1['actor'])
X1['actor'] = transformed

transformed = lb_make.fit_transform(X1['genre_name'])
X1['genre_name'] = transformed

X1

,movie_id,title,movie_rating,run_time,meta_score,imdb_rating,director,writer,actor,genre_name,Year
1,1,0,0,0,0.0,0.0,81,60,12,0,1970
2,2,27,0,0,0.0,0.0,63,66,40,0,2022
3,3,74,1,103,0.0,0.0,43,32,19,0,2022
4,4,80,3,0,0.0,0.0,78,72,23,0,2022
5,5,38,0,0,0.0,0.0,26,39,10,0,2022
...,...,...,...,...,...,...,...,...,...,...,...
78,78,5,0,0,0.0,0.0,31,51,57,4,2022
79,79,77,0,0,0.0,0.0,52,63,48,7,2022
80,80,28,0,0,0.0,0.0,40,2,55,7,2022
81,81,1,0,0,0.0,0.0,47,12,61,5,1970
82,82,7,0,0,0.0,0.0,9,6,34,1,2023

In [173]:
y_pred_up = pd.DataFrame(classifier.predict(X1), index=X1.index, columns=['Predictions_Upcoming'])
y_pred_up2 = y_pred_up.merge(y1, how='outer', left_index=True, right_index=True)
y_pred_up2

    Predictions_Upcoming  label_boxoffice
1                      1                0
2                      1                0
3                      1                0
4                      1                0
5                      1                0
..                   ...              ...
78                     1                0
79                     1                0
80                     1                0
81                     1                0
82                     1                0

[82 rows x 2 columns]

In [176]:
y_pred_df3 = X1.merge(y_pred_up2,left_index=True, right_index=True)
#y_pred_df4 = y_pred_df3.drop(['movie_id'], axis=1)
y_pred_df3

,movie_id,title,movie_rating,run_time,meta_score,imdb_rating,director,writer,actor,genre_name,Year,Predictions_Upcoming,label_boxoffice
1,1,A Day to Die,0,0,0.0,0.0,Wes Miller,Scott Mallace,Kevin Dillon,Action,1970,1,0
2,2,He Was Asking for It: A Noir Film,0,0,0.0,0.0,Rocky Karlage,Staci Layne Wilson,Rocky Karlage,Action,2022,1,0
3,3,Tyson's Run,PG,103,0.0,0.0,Kim Bass,Kim Bass,Major Dodson,Action,2022,1,0
4,4,X,R,0,0.0,0.0,Ti West,Ti West,Mia Goth,Action,2022,1,0
5,5,Operation Fortune: Ruse de guerre,0,0,0.0,0.0,Guy Ritchie,Marn Davies,Josh Hartnett,Action,2022,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Aquaman and the Lost Kingdom,0,0,0.0,0.0,James Wan,Paul Norris,Temuera Morrison,Comedy,2022,1,0
79,79,Untitled Illumination Entertainment Project,0,0,0.0,0.0,Michael Jelenic,Shigeru Miyamoto,Seth Rogen,Drama,2022,1,0
80,80,I Wanna Dance with Somebody,0,0,0.0,0.0,Kasi Lemmons,Anthony McCarten,Tamara Tunie,Drama,2022,1,0
81,81,A Man Called Otto,0,0,0.0,0.0,Marc Forster,Fredrik Backman,Tom Hanks,Crime,1970,1,0
82,82,Babylon,0,0,0.0,0.0,Damien Chazelle,Damien Chazelle,Olivia Wilde,Adventure,2023,1,0

In [177]:
# save csv
y_pred_df3.to_csv("predictions_upcoming_boxoffice.csv", index=False)