In [15]:
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy 
from sqlalchemy import create_engine

from config import username, password

In [16]:
movie = pd.read_csv('upcoming_movie.csv', index_col=0)
movie

,title,movie_rating,release_date,run_time,meta_score,imdb_rating,box_office
movie_id,,,,,,,
0,The Batman,PG-13,2022-03-04,175,0.0,0.0,0.0
1,A Day to Die,0,1970-01-01,0,0.0,0.0,0.0
2,He Was Asking for It: A Noir Film,0,2022-04-30,0,0.0,0.0,0.0
3,Tyson's Run,PG,2022-03-11,103,0.0,0.0,0.0
4,X,R,2022-03-18,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
78,Aquaman and the Lost Kingdom,0,2022-12-16,0,0.0,0.0,0.0
79,Untitled Illumination Entertainment Project,0,2022-12-21,0,0.0,0.0,0.0
80,I Wanna Dance with Somebody,0,2022-12-23,0,0.0,0.0,0.0
81,A Man Called Otto,0,1970-01-01,0,0.0,0.0,0.0
82,Babylon,0,2023-01-06,0,0.0,0.0,0.0

In [17]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/upcoming_movies')
connection = engine.connect()

In [18]:
movie.to_sql(name='Movie', con=engine, if_exists='append', index=True)

In [19]:
genre = pd.read_csv('upcoming_genre_table.csv', index_col=0)
genre

           genre_name
genre_id
0              Action
1           Adventure
2             Fantasy
3              Sci-Fi
4               Crime
5            Thriller
6           Animation
7              Comedy
8               Drama
9              Horror
10            Mystery
11             Family
12            Musical
13            Romance
14          Biography
15              Music
16              Sport
17            History
18        Documentary
19              Short
20                  0
21            Western

In [20]:
genre.to_sql(name='Genre', con=engine, if_exists='append', index=True)

In [21]:
role = pd.read_csv('upcoming_role_table.csv', index_col=0)

In [22]:
role.to_sql(name='Role', con=engine, if_exists='append', index=True)

In [23]:
person = pd.read_csv('upcoming_person_table.csv', index_col=0)

In [24]:
person.to_sql(name='Person', con=engine, if_exists='append', index=True)

In [25]:
movie_person_role_juction = pd.read_csv('upcoming_movie_role_person_junction_table.csv', index_col=0)

In [26]:
movie_person_role_juction.to_sql(name='Movie_Person_Role_Junction', con=engine, if_exists='append', index=True)

In [27]:
movie_genre_juction = pd.read_csv('upcoming_movie_genre_junction_table.csv', index_col=0)

In [28]:
movie_genre_juction.to_sql(name='Movie_Genre_Junction', con=engine, if_exists='append', index=True)